<section class="posts">
  <% site.posts.map(post => { %>
  <a href="<%- url_for(post.path) %>" class="card">
    <img src="<%- url_for(post.path + post.image) %>" alt="<%= post.title %>" />
    <p class="title"><%= post.title %></p>
    <p class="excerpt"><%= post.excerpt %></p>
    <span class="post-time"><%- date(post.date, "YYYY-MM-DD") %></span>
  </a>
  <% }) %>
</section>


